@model WebApp.Models.Salary

@{
    ViewData["Title"] = "Add New Salary";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>